@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}

/* index right and leftS */
.icons{
	
	position: fixed;
	top: 20%;
	left: -10px;
	width: 350px;
	display: flex;
	flex-direction: column;
}
.icons a{
	text-decoration: none;
	
	padding: 10px;
	font-size: 12px;
	font-family: Oswald;
   margin: 2px;

   
}
.icons a img{
	
	
	width: 40px;
	height: 40px;
	text-align: right;
	transition: all 0.5s;
	
}


.inside_img_left{
	text-align: right;
}
.facebook{
	/*  background-color: #0061AE;*/
	background-color: #5D69BF;
	border-radius: 0px 50px 50px 0px;
	border: 6px solid white;
	color: white;
	height: 100px;
	line-height: 1.1;

}
.facebook:hover{
	color:  #399cec;
}
.font_all{
  font-family: Segoe UI ;
}

.icons_right{
  position: fixed;
  top: 20%;
  right: -10px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.icons_right a img{
	
width: 40px;
height: 40px;
  text-align: left;
  transition: all 0.5s;
}
.icons_right a{
  text-decoration: none;
  
  padding: 10px;
  font-size: 12px;
  font-family: Oswald;
 margin: 2px;

 
}

.facebook_r{
	background-color: #5D69BF;
  border-radius:  50px 0px  0px 50px;
  border: 6px solid white;
  color: white;
  height: 100px;
  line-height: 1.1;

}
.facebook_r:hover{
  color:  #399cec;
}
.m_lt_30{
	margin-left: 30px;
}
.mt_15{
	margin-top: 10px;
}
.pr_30{
	padding-right: 30px;
}
.pl_30{
	padding-left: 30px;
}
.txt_s{
	font-size: 16px;
	margin: auto;
}

/*   radio buttons */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
::selection{
	background:none;
}




ul{
	list-style-type: none;
	width: 220px;
	margin: auto;
}

li {
	position: relative;
    /* padding: 10px; */
    padding-left: 40px;
    height: 30px;
    text-align: left;
}

label:before {
    content: "";
    width: 13px;
    height: 13px;
    background: #7c947c;
    position: absolute;
    left: 3px;
    top: 20px;
    top: calc(50% - 7px);
    box-sizing: border-box;
    border-radius: 50%;
}

input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
	margin: 0;
	padding: 0;
  width: 100%;
	height: 30px;
	position: absolute;
	left: 0;
	top: calc(50% - 15px);
	cursor: pointer;
}

.bullet {
    position: relative;
    width: 25px;
    height: 25px;
    left: -3px;
    top: 2px;
    border: 5px solid #fff;
    opacity: 0;
    border-radius: 50%;
}

input[type="radio"]:checked ~ .bullet {
	position:absolute;
	opacity: 1;
	animation-name: explode;
	animation-duration: 0.350s;
}

.line {
	position: absolute;
	width: 10px;
	height: 2px;
	background-color: #fff;
	opacity:0;
}

.line.zero {
	left: 11px;
	top: -21px;
	transform: translateY(20px);
	width: 2px;
	height: 10px;
}

.line.one {
	right: -7px;
	top: -11px;
	transform: rotate(-55deg) translate(-9px);
}

.line.two {
	right: -20px;
	top: 11px;
	transform: translate(-9px);
}

.line.three {
	right: -8px;
	top: 35px;
	transform: rotate(55deg) translate(-9px);
}

.line.four {
	left: -8px;
	top: -11px;
	transform: rotate(55deg) translate(9px);
}

.line.five {
	left: -20px;
	top: 11px;
	transform: translate(9px);
}

.line.six {
	left: -8px;
	top: 35px;
	transform: rotate(-55deg) translate(9px);
}

.line.seven {
	left: 11px;
	bottom: -21px;
	transform: translateY(-20px);
	width: 2px;
	height: 10px;
}

input[type="radio"]:checked ~ .bullet .line.zero{
	animation-name:drop-zero;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.one{
	animation-name:drop-one;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.two{
	animation-name:drop-two;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.three{
	animation-name:drop-three;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.four{
	animation-name:drop-four;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.five{
	animation-name:drop-five;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.six{
	animation-name:drop-six;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.seven{
	animation-name:drop-seven;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

@keyframes explode {
	0%{
		opacity: 0;
		transform: scale(10);
	}
	60%{
		opacity: 1;
		transform: scale(0.5);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes drop-zero {
	0% {
		opacity: 0;
		transform: translateY(20px);
		height: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translateY(-2px);
		height: 0px;
		opacity:0;
	}
}

@keyframes drop-one {
	0% {
		opacity: 0;
		transform: rotate(-55deg) translate(-20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(-55deg) translate(9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-two {
	0% {
		opacity: 0;
		transform: translate(-20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translate(9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-three {
	0% {
		opacity: 0;
		transform: rotate(55deg) translate(-20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(55deg) translate(9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-four {
	0% {
		opacity: 0;
		transform: rotate(55deg) translate(20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(55deg) translate(-9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-five {
	0% {
		opacity: 0;
		transform: translate(20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translate(-9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-six {
	0% {
		opacity: 0;
		transform: rotate(-55deg) translate(20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(-55deg) translate(-9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-seven {
0% {
		opacity: 0;
		transform: translateY(-20px);
		height: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translateY(2px);
		height: 0px;
		opacity:0;
	}
}


/*  radio buttons end */

.modal {
    position: fixed;
    top: 22%;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.modal-backdrop {
   background-color: red;
}

/*   bottom index */

.widget {
	position: fixed;
	right: 0;
	bottom: 0;
	transition: 0.6s;
  }
  .open.widget {
	right: 35px;
  }
  a {
	color: inherit;
  }
  #chatme {
	background-color: #0061AE;
	color: white;
	border: none;
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	transition: 0.4s;
	box-shadow: 0 0 0 0 #0061AE;
	-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	z-index: 999;
  }
  @-webkit-keyframes pulse {
	to {
	  box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
  }
  @-moz-keyframes pulse {
	to {
	  box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
  }
  @-ms-keyframes pulse {
	to {
	  box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
  }
  @keyframes pulse {
	to {
	  box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
  }
  
  #chatme:hover {
	animation: paused;
  }
  #chatme:focus {
	outline: none;
	
  }
 
  
  #chatme svg,
  .socials > div svg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	fill: white;
  }
  .socials > div svg {
	width: 16px;
	height: 16px;
  }

  #chatme .close {
	opacity: 0;
	transition: 0.3s;
  }
  #chatme .chat {
	opacity: 1;
	transition: 0.3s;
  }
  .open #chatme .close {
	opacity: 1;
	transition: 0.3s;
  }
  .open #chatme .add_c  {
	opacity: 0;
	transition: 0.3s;
  }
  .open #chatme {
	transform: rotate(45deg);
  }
  .widget:not(.open) .socials {
	transform: scale(0);
  }
  .socials {
	position: relative;
	transition: 0.4s;
	background: rgba (0, 0, 0, 0.3);
  }
  .socials > div {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	color: white;
	transition: 0.3s;
  }
  .socials > div:hover {
	transform: scale(1.2);
  }
  .socials .phone {
	background: #F03F37;
	right: 80px;
	bottom: 0;
  }
  .socials .email {
	background: #fabc2a;
	right: 77px;
	bottom: 45px;
  }
  .socials .instagram {
	background: #645dd7;
	right: 45px;
	bottom: 77px;
  }
  .socials .youtube {
	background: red;
	right: 0px;
	bottom: 80px;
  }
  .socials .vk {
	background: red;
	right: -35px;
	bottom: 53px;
  }
  .icons_btm_all:hover{
	  color: white;
  }
  
  .note_size{
	color:#000; 
	font-size:13px;
	font-family:Segoe UI semibold;
}
.modal-header{
	border-bottom: none;
}

/* bootm index end */
  /* bottom */

  .hide_expand{
	width: 440px;
	height: 25px;
	background-color: #0061AE;
	border-radius: 12px;
	position: fixed;
	bottom: 0;
	top: 96.5%;
	left: 50%;
	/*margin-top: -0;*/ /* Negative half of height. */
	margin-left: -220px; /* Negative half of width. */
}
.box_bottom{
	width: 100%;
	height: 65px;
	
	background: #0061AE;

	position: fixed;
	bottom: 0;
	background-repeat: no-repeat;
	
}


.bottom h4{
	color: #FAFAFA;
	font-size: 14px;
	font-family: Segoe UI;
	margin: 10px 0;
	font-weight: bold;
	
}
.bottm_txt{
	color: #FAFAFA;
	font-size: 14px;
	font-family: Segoe UI;
	margin: 10px 0;
	font-weight: bold;
}

.bottom h5{
	color: #FAFAFA;
	font-size: 18px;
	margin: 10px 10px;
}

.bottom i{
	color: #FAFAFA;
	font-size: 18px;
	margin: 10px 0;
	padding: 0 18px;
}
.index_btn {
	width: 100px;
	height: 100px;
	top:100px;
	object-fit: contain;
}
.index_btn img {
	width: 100px;
	height: 100px;
	object-fit: contain;
	position: fixed;
	
	bottom: 20px;
	/* top: 87%; */
	left: 50%;
	margin-left: -50px; /* Negative half of width. */
}
.btm_inside_padd {
    padding-top: 4px;
}
.btm_txt_all {
    color: white;
    margin-top: 20px;
    font-family: Segoe UI semibold;
    font-size: 14px;
}
.mt-45{
	margin-top: 30px;
}
.white {
    color: white;
}
.cursor {
    cursor: pointer;
}
.white_mt-tp {
    color: white;
    margin-top: -10px;
}

.landing {
	background-image: url("../images/background/change.png");
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
 

/* body{
	background-image: url("../images/background/bg_3@2x.png");
	object-fit: contain;
	position: relative;
	width: 100%;
	height: 1080px;
	background-repeat: no-repeat;
} */

.ratings {
	position: absolute;
	bottom: 2%;
	left: 47%;
}

.avg_txt {
	font-size: 12px;
	color: white;
}

.rating_bg {
	background-color: #008AB2;
	border-radius: 10%;
	padding: 2px;
}

.rate_txt {
	color: white;
	font-size: 12px;
}

.btm_bkmrks {
	margin-left: 50%;
}

.rana {
	background-image: url("../images/background/bg_3@2x.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 1080px;
	object-fit: contain;
	position: relative;
}

.hide_expand {
    width: 440px;
    height: 25px;
    background-color: #0061AE;
    border-radius: 12px;
    position: fixed;
    bottom: 0;
    top: 96.5%;
    left: 50%;
    /* margin-top: -0; */
    margin-left: -220px;
}

.hide_expand h5 {
	text-align: center;
	text-transform: capitalize;
	color: #707070;
	font-size: 12px;
	padding-top: 6px;
}

.hide_expand a h5 {
    text-align: center;
    color: #FAFAFA;
    font-size: 13px;
    padding-top: 2px;
    font-family: Segoe UI;
    text-decoration: none;
}

.hide_expand a:hover h5 {
	text-align: center;
    color: #FAFAFA;
    font-size: 13px;
    padding-top: 2px;
    font-family: Segoe UI;
    text-decoration: none;
}

.hide_expand2 {
	width: 440px;
	height: 25px;
	background-color: #FAFAFA;
	border-radius: 12px;
	position: fixed;
	bottom: 0;
	top: 97%;
	left: 50%;
	/*margin-top: -0;*/
	/* Negative half of height. */
	margin-left: -220px;
	/* Negative half of width. */
}

.hide_expand2 h5 {
	text-align: center;
	text-transform: capitalize;
	color: #707070;
	font-size: 12px;
	padding-top: 6px;
}

.hide_expand2 a h5 {
	text-align: center;
	text-transform: capitalize;
	color: #707070;
	font-size: 12px;
	padding-top: 6px;
	text-decoration: none;
}

.hide_expand2 a:hover h5 {
	text-align: center;
	text-transform: capitalize;
	color: #707070;
	font-size: 12px;
	padding-top: 6px;
	text-decoration: none !important;
}


.bottom h4 {
	color: #FAFAFA;
	font-size: 14px;
	margin: 10px 0;
	padding: 0 18px;
}

.bottom h5 {
	color: #FAFAFA;
	font-size: 14px;
	margin: 10px 10px;
}

.bottom i {
	color: #FAFAFA;
	font-size: 18px;
	margin: 10px 0;
	padding: 0 18px;
}

.img-fluid1 {
	width: 10%;
}

.img-fluid_lt {
	width: 14px;
	margin: 5px;
}

.index_btn {
	width: 100px;
	height: 100px;
	top: 100px;
	object-fit: contain;
}


.content_img_left {
	width: 100%;
	height: 150px;
	object-fit: contain;
}

.content_img_left ul {
	list-style: none;
	float: right;
	display: flex;
	flex-flow: column;
	background-image: url("../images/box/box_2@2x.png");
}

.content_img_left ul h4 {
	color: #FAFAFA;
	font-size: 18px;
	float: inherit;
	display: flex;
	flex-flow: column;
}

.content_img_right {
	width: 100%;
	height: 150px;
	object-fit: contain;
	background-image: url("../images/box/box_5@2x.png");
}

.cnt-img {
	position: relative;
}


/* .lt-img{
	background-image:url("../images/box/box_5@2x.png");
	background-repeat:no-repeat;
} */


.videoBG{
    position: fixed;
    z-index: -1;
    
}
@media (min-aspect-ratio: 16/9) {
    .videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .videoBG {
        width: auto;
        height: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .videoBG {
        width: 100%;
        height: 680px;
        object-fit: cover;
        
    }
}

/*.2_page_video {
	position: relative;
}
*/


.video_page {
	position: absolute;
	top: 0px;
	right: 0px;
}


/* popup */


/* test page */

.back_bg {
	width: 100%;
	height: 600px;
	object-fit: cover;
}



.exp {
	padding-right: 30px;
	padding-top: 10px;
}

.assess_top {
	margin-top: 20px;
}

.asses_mind {
	padding-left: 30px;
	color: #808080;
}

.txt-img {
	height: 490px;
	object-fit: cover;
}

.grng {
	position: absolute;
	top: 25%;
	left: 35%;
	color: #707070;
}

.redy {
	font-style: italic;
	color: #707070;
}

.char {
	margin-top: 20px;
}
.rdo_size{
	float:left;
	margin-top:6px;
}
/*
css add file
.top_1{
	

	background-image: url("../images/background/test_box@2x_2.png");
	width: 60%;
	height: 450px;
	margin-left: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
  }
*/
.test_img {
	position: absolute;
	bottom: 12%;
	left: 46%;
}

.test_img_r {
	position: absolute;
	bottom: 10px;
	right: 4%;
	width: 200px;
}

.test_txt {
	position: absolute;
	top: 45px;
	left: 70px;
}

.lest {
	font-size: 14px;
	color: #453D5D;
}

.tme_img {
	position: absolute;
	bottom: 15%;
	right: 26.5%;
}

.tme_img_sub {
	position: absolute;
	bottom: 12%;
	right: 32%;
}

.time_txt2 {
	position: absolute;
	top: 5px;
	left: 16%;
}

.time_txt2_sub {
	position: absolute;
	top: 5px;
	left: 30%;
}

.time_txt2_sub p {
	color: white;
	font-size: 16px;
}

.time_txt2 p {
	color: white;
	font-size: 16px;
}


/* quiz1 */

.active {
	background-color: #3BC195 !important;
}

.in-clr {
	position: absolute;
	top: 70px;
	left: 42%;
}

.clr1 {
	width: 10px;
	height: 10px;
	background-color: #FFFFFF;
	border-radius: 20px;
	margin: 6px;
}

.test_txt2 {
	position: absolute;
	top: 45px;
	left: 40%;
}

.test_txt2_sub {
	position: absolute;
	top: 45px;
	left: 78px;
}


.qutn {
	font-size: 16px;
	text-align: center;
}

.inpt_bg {
	background-color: white;
	border-radius: 10px;
	padding: 3px;
	margin: 4px;
}

.ansers {
	margin-left: 40px;
	font-size: 12px;
}

.grng_qiz {
	position: absolute;
	top: 23%;
	left: 30%;
	margin-right: 400px;
	color: #707070;
}

.ans {
	position: absolute;
    top: 140px;
    left: 21%;
    width: 457px;
}

.back_txt{
	margin-left: 90%;
}
/* success */

.popUpMain {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0, 0.6);
	z-index: 1001;
}

#popup {
	background-image: url("../images/succes/Component29–1@2x.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100%;
}

.pop_img_s {
	width: 20%;
	height: 20%;
	margin-left: 40%;
	margin-top: 10%;
}

.next_btn {
	position: absolute;
	top: 56%;
	left: 45%;
}

.index_btn {
	position: absolute;
	top: 65%;
	left: 45%;
	width: 10%;
	height: 9%;
}


/* growing */

.growing {
	background-image: url("../images/background/Group2839@2x.png") ;
	width: 100%;
   height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.img-fluid {
	margin: 5px;
	width: 6%;
}

.groung_hed {
	color: white;
	margin-left: 22%;
}
.bg_size{
	width: 100%;
	height: 430px;
}
.left_img {
	width: 100%;
	height: 100%;
}

.sub_text {
	position: absolute;
	top: 90px;
	left: 80px;
}
.sml_icon{
	cursor: pointer;
}
.in-text1 {
	font-size: 16px;
	padding-right: 100px;
}

.in-text2 {
	font-size: 12px;
	padding-right: 100px;
}

.btm_img_txt {
	margin-top: 50px;
	padding-left: 230px;
}

.carol {
	padding-top: 100px;
}

.image {
	opacity: 1;
	display: block;
	position: relative;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.image:hover {
	opacity: 0.8;
}

.image:hover .middle {
	opacity: 1;
}

.text {
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
}

.sml_icon {
	margin-top: 25px;
}

.gif {
	margin-left: 280px;
}


/* words matter */

.words {
	background-image: url("../images/background/Background@2x.png") ;
	width: 100%;
   height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.words_img{
	position: relative;
}
.img_txt{
    position: absolute;
    top: 266px;
    left: 167px;
    margin-right: 170px;
    color: white;
	
}
.girl_icon{
	margin-left: 22%;
}

.girl_icon:focus{
	outline: none;
}
.acty {
	position: absolute;
	top: 32%;
    left: 34%;
}
.activity_bck_img {
    position: absolute;
	top: 40px;
    left: 71px;
    width: 100%;
}
.actty {
    position: relative;
	top: 120px;
    left: 70px;
}

.activity_bck_img2 {
    position: absolute;
	top: 20px;
    left: 103px;
    width: 80%;
}
.back_bg_wrd_pge {
    position: relative;
}

.right_text{
	width: 160px;
    font-size: 16px;
}
.lets_words{
	width: 120px;
	margin-left: 120px;
}

.actvy_img {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}
.wrd_rgt_img{
	margin-top: 150px;
}
.blink_img {
    animation: blinker 1s linear infinite;
}
.m_tp_dec{
	margin-top: -230px;
	margin-right: 10px;
}
.wrd_txt_wdth{
	
	
	
}
.lets_write_wrds{
	width: 150px;
	height: 150px;
	margin-left: 120px;
}
.wrd_rt_txt{
	width: 200px;
	font-size: 16px;
	margin-bottom: 0px;
}
.right_input_tp{
	margin-top: 100px;
}
.input_wrd , .input_wrd2, .input_wrd3, .input_wrd4, .input_wrd5, .input_wrd6 {
	font-size: 12px;
	padding-left: 30px;
	border: none;
	height: 35px;
	width: 400px;
	position: relative;
}
.hungle_img, .hungle_img2, .hungle_img3, .hungle_img4, .hungle_img5, .hungle_img6 {
	position: absolute;
	top: 95px;
    left: 105px;
	width: 60px;
	height: 60px;
	object-fit: contain;
}

.hungle_img2{
	
	top: 140px;
   
}
.hungle_img3{
	top: 185px;
}
.hungle_img4{
	top: 230px;
}
.hungle_img5{
	top: 275px;
}
.hungle_img6{
	top: 320px;
}
.input_tp_m_10{
	margin-top: 10px;
}
.input_wrd2, .input_wrd3, .input_wrd4, .input_wrd5, .input_wrd6, .input_wrd:focus{
	outline: none;
}
.add_wrd{
	color: #3BC195;
	font-size: 14px;
	background-color: white;
	border: 3px solid #3BC195;
	border-radius: 50px;
	padding: 4px 10px 4px 10px;
	cursor: pointer;
}
.add_mrg{
	margin-right: 120px;
}

.sucess_wrd_pge{
	width: 300px;
	height: 300px;
	object-fit: contain;
	margin-top: 100px;
}

.lets_write_wrds, .submit_wrd{
	cursor: pointer;
}
@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}


/* blink animation */



@keyframes blinker {
	50% {
		opacity: 0;
	}
}

@keyframes blin {
	50% {
		opacity: 0;
	}
}


/* words_matter4 */

.words4 {
	background-image: url("../images/all_png/Web1920–42@2x.png") !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
	object-fit: content;
	position: relative;
}

.right2 {
	margin-right: 3%;
}


/* jar activity */

.jar {
	background-image: url("../images/background/jar_act_bg@2x.png") ;
	width: 100%;
   height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.jar_img {
	margin-top: 150px;
	position: relative;
}

.frst_star {
	position: absolute;
	top: 120px;
	left: 180px;
}

.secnd_star {
	position: absolute;
	top: 200px;
	left: 120px;
}

.thrd_star {
	position: absolute;
	top: 200px;
	left: 250px;
}

.int_fild {
	width: 45%;
	position: absolute;
	bottom: 22%;
	left: 13%;
	height: 10%;
	padding: 5%;
	border-radius: 20%;
	border: none;
	font-size: 12px;
}
.int_fild:focus{
	outline: none;
}

.add_btn {
	position: absolute;
	bottom: 14%;
	right: 41%;
}

.rst, .rst2, .rst3, .rst4 , .rst5, .rst6 {
	margin: 10px;
    width: 203px;
    object-fit: contain;
	height: 90px;
	position: relative;
}
.rst_text_jar{
	position: absolute;
	top: 30px;
	left:22%;
	color: black;
	width: 106px;
	font-size: 14px;
}
.rst_text_jar_2{
	position: absolute;
	top: 30px;
	left: 42%;
	color: black;
	width: 106px;
	font-size: 14px;
}
.rst_text_jar_3{
	position: absolute;
	top: 30px;
	left: 61%;
	color: black;
	width: 106px;
	font-size: 14px;
}
.rst_text_jar_4{
	position: absolute;
	top: 30px;
	left: 81%;
	color: black;
	width: 106px;
	font-size: 14px;
}
.rst_text_jar_5{
	position: absolute;
	top: 140px;
	left: 22%;
	color: black;
	width: 106px;
	font-size: 14px;
}
.rst_text_jar_6{
	position: absolute;
	top: 140px;
	left: 42%;
	color: black;
	width: 106px;
	font-size: 14px;
}


.midle_res {
	
    margin-left: 175px;
}

.jar_back {
	margin-top: 50px;
    width: 131px;
    height: 40px;
	object-fit: contain;
	margin-top: 130px;
}
.left_jar_img{
	width: 100%;
	height: 340px;
	object-fit: contain;
}
.right_jar_img{
	width: 100%;
	height: 340px;
	object-fit: contain;
}

/* power yet */ 
.power {
	background-image: url("../images/background/power.png") ;
	width: 100%;
   height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.wd_rt{
	
}
.ml-300{
	margin-left: 300px;
}
.mr-300{
	margin-right: 322px;
}

.rght_txt_pwr{
	color: #3E5BAC;
	margin-top: 100px;
	font-size: 24px;
}
.txt_wd_per{
	width: 150px;
	object-fit: contain;
	margin-top: 200px;
	margin-right: 100px;
	position: relative;
}
.actvy_txt_pwr{
	position: absolute;
	bottom: 50px;
	right: 130px;
	font-size: 18px;
	color: white;
}
.actvy_txt_pwr2{
	position: absolute;
	bottom: 20px;
	right: 130px;
	font-size: 14px;
	color: white;
}
.actvy_txt_pwr2{
	cursor: pointer;
}
.bokk_out_pr{
	width: 55%;
	
}
.mt_ngtv_vlue{
	margin-top: -400px;
}
.inpt_pwer{
	width: 260px;
    border: none;
    height: 20px;
	
	padding-left: 30px;
	font-size: 12px;
	position: relative;
}
#inpt_pwr_points{
    position: absolute;
    top: 8px;
    left: 375px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points2{
	position: absolute;
    top: 33px;
    left: 375px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points3{
	position: absolute;
    top: 57px; 
    left: 375px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points4{
	position: absolute;
    top: 80px; 
    left: 375px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points5{
	position: absolute;
    top: 104px; 
    left: 375px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points6{
	position: absolute;
    top: 129px; 
    left: 375px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points7{
	position: absolute;
    top: 153px;
    left: 375px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points8{
	position: absolute;
    top: 177px;  
    left: 375px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points11{
	position: absolute;
    top: 8px; 
   left: 60px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points12{
	position: absolute;
    top: 33px; 
    left: 60px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points13{
	position: absolute;
	top: 57px; 
    left: 60px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points14{
	position: absolute;
    top: 80px; 
    left: 60px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points15{
	position: absolute;
    top: 104px;  
    left: 60px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points16{
	position: absolute;
	top: 129px;  
    left: 60px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points17{
	position: absolute;
	top: 153px;  
    left: 60px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}
#inpt_pwr_points18{
	position: absolute;
    top: 177px;
    left: 60px;
    width: 10px;
    height: 10px;
    background-color: #D3D3D3;
    border-radius: 50%;
}

.inpt_pwer:focus{
	outline: none;
}
.inpt_pwer_r:focus{
	outline: none;
}
.inpt_pwer_r{
	width: 260px;
    border: none;
    height: 20px;
	
	padding-left: 28px;
	font-size: 12px;
}
.submit_power{
	margin-top: 100px;
}
.sucess_pwr{
	width: 400px;
	height: 400px;
	margin-top: 30px;
	object-fit: contain;
}
.submit_power{
	cursor: pointer;
}

/* mistake help  */

.mistke{
	background-color: #FA6B5D;
	width: 100%;
   height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.left_mistke{
	width: 100%;
	margin-top: 50px;
}
.right_miskte_hand{
	
	position: fixed;
	bottom: 0px;
	
	width: 40%;
}
.txt_mistk{
	margin-left: 100px;
	
}
.hnd_tp{
	position: relative;
}
.txt_tp{
	position: absolute;
	top: 50px;
	left: 200px;
	
}
.input_bx{
	position: absolute;
    top: 80px;
    left: 170px;
}
.input_bx_fild{
	outline: none;
	border: none;
	border: 1px solid #707070;
	padding: 4px 25px 4px 25px;
	position: relative;
	margin-top: 10px;
	font-size: 13px;
}
.white_hungle, .white_hungle2, .white_hungle3, .white_hungle4 {
	position: absolute;
    top: 12px;
    left: -43px;
    object-fit: contain;
    width: 70px;
}
.white_hungle2{
	top: 50px;
}
.white_hungle3{
	top: 90px;
}
.white_hungle4{
	top: 130px;
}
#empty_blub_mis, #empty_blub_mis2, #empty_blub_mis3, #empty_blub_mis4 {
	position: absolute;
	top: 18px;
	right: 10px;
}
#empty_blub_mis2{
	top: 58px;
}
#empty_blub_mis3{
	top: 98px;
}
#empty_blub_mis4{
	top: 140px;
}
.add_tp_mis{
	margin-top: 10px;
}
.add_more_mis{
	color: #3BC195;
	font-size: 14px;
	background-color: white;
	border: 3px solid #3BC195;
	border-radius: 50px;
	padding: 4px 10px 4px 10px;
	cursor: pointer;
}
.success_mis{
	position: absolute;
    top: 50px;
    left: 140px;
}
.submit_mis{
	cursor: pointer;
}
.test_mistke{
	cursor: pointer;
}
.sucess_mis_img{
	width: 250px;
	height: 250px;
	object-fit: contain;
}
.spt_clr{
	color: #FA6B5D;
}
.m_btm{
	margin-bottom: 5px;
	font-family: Segoe UI semibold;
	font-style: italic;
}
.sub_btm{ 
	position: absolute;
	top: 290px;
	left: 190px;
}

/* coloring activity*/

.coloring {
	background-image: url("../images/background/file_bg@2x.png") !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 500px;
}

.sub-exp2 {
	width: 50%;
}

.left_gif {
	position: absolute;
	top: -80px;
	left: -20px;
}

.menu {
	width: 8%;
	position: absolute;
	bottom: 5%;
	right: 0px;
}

.wood_bg {
	position: absolute;
	bottom: 0px;
	left: 20%;
}

.white_bg {
	background-color: white;
	height: 540px;
	position: relative;
}

.paint {
	position: absolute;
	bottom: 1.5%;
	right: 5%;
	width: 7%;
}

.dummy {
	position: absolute;
	bottom: 18%;
	right: 5%;
	width: 6%;
}

.downlod {
	position: absolute;
	bottom: -3%;
	right: -1%;
	width: 10%;
}

.reset {
	position: absolute;
	bottom: 2%;
	right: -3%;
	width: 6.5%;
}

.share {
	position: absolute;
	bottom: 18.5%;
	right: -3%;
	width: 12%;
}

.paint_bg {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 30%;
}

.colr1 {
	width: 25px;
	height: 25px;
	background-color: #cccccc;
	border-radius: 50%;
	border: 2px solid #E5E7EA;
	position: absolute;
	bottom: 11%;
	left: 6%;
}

.colr2 {
	width: 25px;
	height: 25px;
	background-color: #0099ff;
	border-radius: 50%;
	border: 2px solid #E5E7EA;
	position: absolute;
	bottom: 11%;
	left: 9%;
}

.colr3 {
	width: 25px;
	height: 25px;
	background-color: #ffcc99;
	border-radius: 50%;
	border: 2px solid #E5E7EA;
	position: absolute;
	bottom: 11%;
	left: 12%;
}

.colr4 {
	width: 25px;
	height: 25px;
	background-color: #666666;
	border-radius: 50%;
	border: 2px solid #E5E7EA;
	position: absolute;
	bottom: 11%;
	left: 15%;
}

.colr5 {
	width: 25px;
	height: 25px;
	background-color: #cc9999;
	border-radius: 50%;
	border: 2px solid #E5E7EA;
	position: absolute;
	bottom: 11%;
	left: 18%;
}

.colr6 {
	width: 25px;
	height: 25px;
	background-color: #0BBBF5;
	border-radius: 50%;
	border: 2px solid #E5E7EA;
	position: absolute;
	bottom: 11%;
	left: 21%;
}

.colr7 {
	width: 25px;
	height: 25px;
	background-color: #cccc33;
	border-radius: 50%;
	border: 2px solid #E5E7EA;
	position: absolute;
	bottom: 11%;
	left: 24%;
}

.colr8 {
	width: 25px;
	height: 25px;
	background-color: #009966;
	border-radius: 50%;
	border: 2px solid #E5E7EA;
	position: absolute;
	bottom: 4%;
	left: 6%;
}

.colr9 {
	width: 25px;
	height: 25px;
	background-color: #99cc33;
	border-radius: 50%;
	border: 2px solid #E5E7EA;
	position: absolute;
	bottom: 4%;
	left: 9%;
}

.colr10 {
	width: 25px;
	height: 25px;
	background-color: #ECA71D;
	border-radius: 50%;
	border: 2px solid #E5E7EA;
	position: absolute;
	bottom: 4%;
	left: 12%;
}

.colr11 {
	width: 25px;
	height: 25px;
	background-color: #E72525;
	border-radius: 50%;
	border: 2px solid #E5E7EA;
	position: absolute;
	bottom: 4%;
	left: 15%;
}

.colr12 {
	width: 25px;
	height: 25px;
	background-color: #333333;
	border-radius: 50%;
	border: 2px solid #E5E7EA;
	position: absolute;
	bottom: 4%;
	left: 18%;
}

.elephnt {
	width: 26%;
	position: absolute;
	top: 16%;
	left: 36%;
}

.ground {
	position: absolute;
	top: 45%;
	left: 42%;
}

.circle {
	position: absolute;
	top: 55%;
	left: 53%;
}

.tree_b {
	position: absolute;
	left: 59%;
	width: 3%;
	top: 23%;
}

.leafs {
	position: absolute;
	top: 10%;
	left: 52%;
	width: 17%;
}

.elephnt_eye {
	position: absolute;
	top: 34%;
	left: 45%;
}

.elephnt_eye2 {
	position: absolute;
	top: 35%;
	left: 41%;
}

.grass {
	position: absolute;
	top: 50%;
	left: 30%;
}

.grass1 {
	position: absolute;
	top: 60%;
	left: 51%;
}

.water {
	position: absolute;
	top: 59%;
	left: 33%;
	width: 13%;
}

.text {
	position: absolute;
	top: 20%;
	left: 35%;
}



.bg_yet {
	background-image: url("../images/all_png/powe_act.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
	object-fit: content;
}

.bg_yet2 {
	background-image: url("../images/all_png/power_act2.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
	object-fit: content;
}

.bg_yet3 {
	background-image: url("../images/all_png/Web1920–45@2x.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
	object-fit: content;
}

/* emporing */

.emporing {
	background-image: url("../images/all_png/Web1920–46@2x.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
	object-fit: content;
}


/* resourse */

.resourse {
	background-image: url("../images/all_png/12-1–1@2x.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
	object-fit: content;
}

.resourse2 {
	background-image: url("../images/all_png/12-2–1@2x.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
	object-fit: content;
}

.resourse3 {
	background-image: url("../images/all_png/13-1–1@2x.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
	object-fit: content;
}

.resourse4 {
	background-image: url("../images/all_png/13–3@2x.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
	object-fit: content;
}


/* stress */

.stress {
	background-image: url("../images/all_png/14a–1@2x.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
	object-fit: content;
}

.stress2 {
	background-image: url("../images/all_png/14b–1@2x.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
	object-fit: content;
}

